@page

@{
    Layout = "_layout_signed_out";
}

@{
    ViewData["Title"] = "About Keep";
}

<div class="just_left">
    <h1>@ViewData["Title"]</h1>
    <div><a href="/Index">Back to Keep Home</a></div>
</div>

<div class="about centered_and_left_just">

    <p>
        My version of Google's Keep
    </p>

</div>
